* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html , body {
    overflow: hidden;
}

.labelinp {
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 15px;
}

#changeToggle {
    background-color: green;
    color: white;
    border-radius: 35px;
    border: none;
    margin-left: 10px;
    padding: 9px;
}

.info h3 {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.whiteBoard {
    position: relative;
}

.brush {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
}